

@model HomeViewModel



<partial name="_Carousel" />

<h2>Most Sold Cake of the week</h2>
<h4>Choose the best </h4>

<div class="row">

    @foreach (var cake in Model.CakesOfTheWeek)
    {
        <partial name="_CakeCard" model="cake" />
    }

</div>